<div class="container-fluid">
<h1>Editing Project</h1>

<%= render 'form', project: @project %>
<br>
<br>
<!-- <%= link_to 'Show', @project %> | -->
<%= link_to 'Back to All Projects', projects_path %>
</div>